.trainer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  border: 12px solid #f7d25e;
  background-size: 200% 200%;

  &:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    border-color: #f7d25e;
  }

  img {
    width: 100%;
    max-height: 25rem;
    object-fit: contain;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
    color: $yellow;
    &:hover {
      text-decoration: none;
    }
  }
}
