<div class="container">
  <div class="header">
    <%= link_to "< Pokedex", root_path, class: "mb-3" %>
    <h1>Let's get training</h1>
  </div>
  <div class="grid">
    <% @trainers.each do |trainer| %>
      <%= render trainer %>
    <% end %>
  </div>

  <%= link_to "New Trainer", new_trainer_path, class: "btn poke-btn mt-5" %>
</div>
